/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .qrbody {
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    text-align: center; 
    max-width: 300px; 
    margin: 20px; 
    justify-content: center;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
  }
  
  .paragraph {
    margin-top: 15px; 
    font-size: 0.8em; 
    color: #8c7575; 
  }
  