.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 8px 8px 8px;
    
}

li{
    list-style-type: none;
    margin-left: 25px;
}
ul{
display: flex;

}
img{
    width: 55%;
    border-radius: 50px;
}

.container-main{
    display: flex;
    margin: 20px;

}
.left-container{
    background-color: aliceblue;
    width: 60%;
    margin: 10px;
}
.right-container{
    background-color: aliceblue;
    width: 40%;
    margin: 10px;
}