
        table {
            border-collapse: collapse;
            width: auto;
            margin: auto;

            
        }
        th{
            border: 1px solid darkgray;
            padding: 10px;
            text-align: left;
            background-color: rgb(255, 170, 0);
            
        }
        
        td {
            border: 1px solid #2edd4e;
            padding: 10px;
            text-align: left;

        }
        