body{
    height: 50%;
}
main{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.nav-info{
    display: flex;
    flex-direction: row;
}
.nav-info ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-authentication{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.auth-button{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    
}
.container-left{
    display: flex;
    justify-content: center;
    width: 70%;
    flex-direction: column;
    align-content: center;
   
    margin-left: 10%;
}

.container-right{
    width: 40%;
    
    margin-right: 10%;
}

.bottom-logos{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.btn-learnmore{
width: 100px;
height: 30px;
border-radius: 10px;
margin-bottom: 30px;
margin-top: 40px;
background-color: black;
color: white;
}